.color-fucsia {
    color: rgb(201, 8, 124);
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-card {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 20px;
    background-color: black;
    color: white;
    width: calc((100% - 40px) / 3);
}


/* RESPONSIVE */

/* XXL */
@media screen and (max-width: 1400px) {
    .team-card {
        width: calc((100% - 40px) / 2);
    }
}

/* LG */
@media screen and (max-width: 992px) {
    .team-card {
        width: 100%;
    }
}